*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}
html{
   scroll-behavior: smooth;
}
body{
   overflow-x:hidden ;
}
:root{
   --bacground-color:#f67c91;
}
.section-1{
   background-image: url('./images/background.png');
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-size: cover;
   background-position: center;
   width: 100vw;
   height: 100vh;
}
.section-1-container{
   max-width: 30rem;
   padding: 2rem 2rem 0 4rem;
   display: flex;
   gap: 10rem;
   flex-direction: column;
}
.section-1-container .logo{
   width: 100px;
   height: 60px;
}
.section-1-details{
   display: flex;
   gap: 2rem;
   flex-direction: column;
}
.section-1-details h1{
   font-size: 2rem;
}
.section-1-details p{
   line-height: 1.5rem;
}
.section-1-details .small-design{
   width: 20px;
   height: 20px;
   background-color: var(--bacground-color);
}
.section-1-details .common-button{
   padding: 1rem;
   border: 3px solid var(--bacground-color);
   width: 150px;
   background-color: transparent;
}
.section-1-details .common-button:hover{
   background-color: var(--bacground-color);
   color: white;
   cursor: pointer;
}
.navbar-section{
   position: fixed;
   top: 0px;
   right: -250px;
   height: 100vh;
   background-color: var(--bacground-color);
   width: 250px;
   padding-left: 2rem;
   transition: 0.5s all ease-in-out;
}
.toggle{
   right: 0px;
}
.navbar-section img{
   display: block;
   width: 50px;
   height: 40px;
   position: fixed;
   right: 20px;
   cursor: pointer;
   top: 10px;
}
.navbar-section ul {
   list-style-type: none;
   margin-top: 2rem;
}
.navbar-section ul li{
   margin: 3rem 0;
   color: white;
}
.navbar-section ul li a{
   color: white;
   text-decoration: none;
}
.section-2{
  width: 100vw;
  height: auto;
  padding: 150px 0px;
}
.section-2-container{
   display: flex;
   flex-wrap: wrap;
}
.section-2-container img{
   width: 100%;
}
.section-2-inner-details{
   padding-right:70px ;
   text-align: right;
}
.section-2-container div,.section-2-inner-details{
   flex: 1 0 300px;
}
.section-2-inner-details{
   display: flex;
   flex-direction: column;
}

.inner-details .square{
   width: 20px;
   height: 20px;
   background-color: var(--bacground-color);
   float: right;
}
.inner-details p{
   clear: both;
   line-height: 1.5rem;
}
.inner-details .square,p,h1{
   margin: 10px 0px;
}
.section-2-inner-details .quotes{
   font-style: italic;
   font-weight: 900px;
   font-size: 1.8rem;
   line-height: 2.5rem;
}
.section-3{
   width: 100vw;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-bottom: 200px;
   padding-top: 100px;
}
.features-container{
   display: flex;
   max-width: 1000px;
   margin: 0 auto;
   gap: 20px;
   padding: 2rem;
   text-align: center;
   flex-wrap: wrap;
}
.features-container div{
   display: flex;
   flex-direction: column;
   flex: 1 0 200px;
   align-items: center;
}
.features-container div img{
   width: 100px;
   height: 100px;
}
.features-container div .feature-heading{
   font-size: 1.5rem;
}
.trial-button .common-button{
   padding: 1rem;
   border: 3px solid var(--bacground-color);
   width: 150px;
   background-color: transparent;
}
.trial-button .common-button:hover{
   background-color: #f67c91;
   color: white;
}
.section-4{
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   background-color: #f67c91;
}
.course-container{
   display: flex;
   flex-direction: row;
   padding: 100px 50px;
   background-color: pink;
   max-width: 1300px;
   margin: 0 auto;
   flex-wrap: wrap;
}
.course-container .course-details,.course-image{
   flex:1 0 300px;
}
.course-image img{
   width: auto;
   height: 350px;
}
.course-container .course-image{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 auto;
}
.course-details div{
   max-width: 300px;
}
.course-details p{
   line-height: 1.5rem;
}
.course-details span{
   width: 20px;
   height: 20px;
   background-color: #f67c91;
   display: block;
}
.course-details .common-button{
   padding: 1rem;
   border: 3px solid var(--bacground-color);
   width: 150px;
   background-color: transparent;
   margin-bottom: 10px;
}
.course-details .common-button:hover{
   background-color: #f67c91;
   color: white;
   cursor: pointer;
}
.section-5{
   display: flex;
   justify-content: center;
   width: 100vw;
   height: auto;
   flex-wrap: wrap;
   align-items: center;
   padding-top: 200px;
   padding-bottom: 100px;
}
.free-trial-details{
   display: flex;
   flex-wrap: wrap;
}
.free-trial-image div{
   width: 600px;
   height: 500px;
}
.free-trial-image div img{
   width: 100%;
   height: 100%;
}
.free-trial-image,.inner-details{
   flex: 1 0 300px;
}
.free-trial-details .inner-details{
   text-align: right;
   padding-top: 100px;
   padding-right: 70px;
}
.free-trial-details .inner-details h1,button,p{
   margin:1rem 0rem ;
}
.inner-details .common-button{
   padding: 1rem;
   border: 3px solid var(--bacground-color);
   width: 150px;
   background-color: transparent;
   margin-bottom: 10px;
}
.inner-details .common-button:hover{
   background-color: #f67c91;
   color: white;
   cursor: pointer;
}
.section-6{
   display: flex;
   padding: 50px;
   width: 100vw;
   height: auto;
   align-items: center;
   flex-wrap: wrap;
   padding-top: 100px;
   padding-bottom: 200px;
}
.section-6 .form-image div{
   width: 600px;
   height: 500px;
}
.section-6 .form-container,.form-image{
   flex: 1 0 300px;
}
.section-6 .form-image div img{
   width: 100%;
   height: 100%;
}
.form-container form input{
   padding: 0.6rem;
   outline: none;
   border: 3px solid var(--bacground-color);
   width: 300px;
   margin: 3px;
}
.form-container div button{
   padding: 1rem;
   border: 3px solid var(--bacground-color);
   width: 150px;
   background-color: transparent;
   margin-bottom: 10px;
}
.form-container div button:hover{
   background-color: #f67c91;
   color: white;
   cursor: pointer;
}
.footer{
   text-align: center;
   padding-bottom: 10px;
}
.footer ul{
   margin: 0 auto;
   display: flex;
   justify-content: center;
}
.footer ul li{
   display: inline;
   margin:7px;
}
.footer ul li img{
   width: 20px;
   height: 20px;
}
.footer p{
   line-height: 1.5rem;
}
@media screen and (max-width:800px) {
   .section-1-container{
      padding-left:30px ;
   }
   .section-1-details{
      backdrop-filter: blur(6px);
      padding: 10px;
   }
   .section-2-inner-details{
      padding-right: 30px;
   }
   .course-container{
      padding-left: 30px;
   }
   .free-trial-details{
      flex-direction: column-reverse;
   }
   .free-trial-image div{ 
      width: 80%;
      height: 80%;
   }
   .free-trial-details .inner-details{
      padding-right: 30px;
   }
   .section-6{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 100px;
   }
   .section-6 .form-image div img{
      width: 60%;
      height: 60%;
   }
   .section-6 .form-image div{
      height: 400px;
   }
}